// place your custom styles here
.xx {
    display: inline-block;
    margin: 0px;
    width: 200px;
    height: 50px;
}

.xxx {
    
    width: 32px;
    height: 32px;
}
.xxxx {
    display: inline;
    text-align: right;



    font-size: 28px;
    color: green;
}